---
import Layout from "../../layouts/Layout.astro";
import Ballerina from "../../components/artworks/Ballerina.astro";
import { Image } from "astro:assets";
import ballerinaman from "../../assets/artworks/ballerinaman.png";
import binoculars from "../../assets/animations/binoculars.svg";
import eye from "../../assets/animations/eye.svg";
import cloud from "../../assets/animations/cloud.svg";
import bling from "../../assets/animations/bling.svg";
import yellowstar from "../../assets/animations/yellowstar.svg";
import hammer from "../../assets/animations/hammer.svg";
import chisel from "../../assets/animations/chisel.svg";
import bigstar from "../../assets/animations/bigStar.svg";
import peel from "../../assets/icon/wiggle.svg";
import scroll from "../../assets/icon/scroll.svg";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Ballerina en man?
            </h2>
            <Ballerina />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-peel">
                <div class="triangle-mask"></div>
                <div class="triangle-fill"></div>
                <Image class="sticker-wrapper" src={peel} alt="peel" />
            </div>
        </div>
        <div class="story hidden">
            <div id="scrollHint">
                <Image class="scroll" src={scroll} alt="scroll" />
            </div>
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">
                    <span class="bold blue">Watching</span> over the square
                </h2>
                <h2 class="story__subtitle1 bottom1">at Veemarkt</h2>
                <h2 class="story__subtitle2 top2">They are in their own</h2>
                <h2 class="story__subtitle2 bottom2">
                    <span class="bold blue">inner, psychological</span> world
                </h2>
                <h2 class="story__subtitle3 top3">
                    Crafted by <span class="bold blue">Stephan Balkenhol</span>,
                </h2>
                <h2 class="story__subtitle3 bottom3">a classic sculptor</h2>
                <h2 class="story__subtitle4 top4">
                    Where to see <span class="bold blue">Ballerina en Man</span
                    >?
                </h2>
            </div>
            <div class="image-wrapper">
                <Image class="image" src={ballerinaman} alt="ballerinaman" />
            </div>
            <div class="story__animations">
                <div class="story__animation1">
                    <Image
                        class="binoculars"
                        src={binoculars}
                        alt="binoculars"
                    />
                    <p class="watching1">I'm watching you</p>
                    <p class="watching2">I'm watching you</p>
                    <p class="watching3">I'm watching you</p>
                </div>
                <div class="story__animation2">
                    <div class="cloud-top">
                        <Image class="cloud" src={cloud} alt="cloud" />
                        <Image class="eye" src={eye} alt="eye" />
                        <Image class="bling" src={bling} alt="bling" />
                    </div>
                    <p class="me">me, myself and i</p>
                    <Image
                        class="yellowstar"
                        src={yellowstar}
                        alt="yellowstar"
                    />
                    <div class="cloud-bottom">
                        <Image class="cloud" src={cloud} alt="cloud" />
                        <Image class="eye" src={eye} alt="eye" />
                        <Image class="bling" src={bling} alt="bling" />
                    </div>
                </div>
                <div class="story__animation3">
                    <Image class="hammer1" src={hammer} alt="hammer" />
                    <Image class="hammer2" src={hammer} alt="hammer" />
                    <Image class="chisel1" src={chisel} alt="chisel" />
                    <Image class="chisel2" src={chisel} alt="chisel" />
                    <Image class="bigstar1" src={bigstar} alt="bigstar" />
                    <Image class="bigstar2" src={bigstar} alt="bigstar" />
                    <p class="bam1">bam</p>
                    <p class="bam2">bam</p>
                </div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    At <span class="bold">Veemarkt</span>, you can see two
                    life-sized figures. The ballerina stands gracefully on a red
                    ball, perched high on a pole, while the man, dressed in
                    everyday clothes, stands on a stack of solid concrete discs
                    of different sizes. Calm and composed, they quietly <span
                        class="bold">watch over</span
                    > the square.
                </p>
                <p class="story__text2">
                    The figures are there, but they don’t demand your attention.
                    The artist chose to place them so they don’t interact with
                    each other, each one looks off in its <span class="bold"
                        >own direction</span
                    >. Any movement or expression was deliberately left out,
                    focusing instead on an <span class="bold"
                        >inner, psychological world</span
                    >.
                </p>
                <p class="story__text3">
                    It’s typical for <span class="bold">Stephan Balkenhol</span> to
                    let the sculpture speak for itself, rather than bending it to
                    a specific message or meaning. He’s a classic sculptor, working
                    wood with <span class="bold">chisel and hammer</span>. But
                    he also experiments with bronze, and you can see the same
                    kind of texture in the metal as in his wooden pieces.
                </p>
            </div>
        </div>
    </div>
    <script>
        import "../../scripts/scroll.js";
    </script>
</Layout>
<style>
    .start__subtitle::after {
        content: "Ballerina en man";
        background-color: var(--secondary-color);
        display: flex;
        justify-self: end;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        color: var(--black);
        border-radius: 3rem;
        margin-right: 3rem;
        margin-top: -2rem;
        rotate: -2deg;
        font-size: 1.25rem;
    }

    .binoculars {
        position: absolute;
        left: -40vw;
        top: -10vh;
        opacity: 0;
    }

    .watching1,
    .watching2,
    .watching3,
    .me,
    .bam1,
    .bam2 {
        background-color: var(--black);
        color: var(--white);
        width: fit-content;
        padding: 0.5rem;
        padding-bottom: 0.6rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        position: absolute;
        font-weight: 500;
        font-family: "obviously-narrow", "sans-serif";
        opacity: 0;
    }

    .watching1 {
        top: 35vh;
        left: 20vw;
    }

    .watching2 {
        top: 40vh;
        left: 25vw;
    }

    .watching3 {
        top: 45vh;
        left: 18vw;
    }

    .cloud-top {
        position: absolute;
        left: -80vw;
        top: -5vh;
    }

    .eye {
        position: absolute;
        left: 15vw;
        rotate: 25deg;
    }

    .bling {
        position: absolute;
        left: 25vw;
        top: 0vh;
    }

    .cloud-bottom {
        position: absolute;
        transform: scaleX(-1);
        right: -80vw;
        top: 40vh;
    }

    .yellowstar {
        position: absolute;
        left: 20vw;
        top: 20vh;
        opacity: 0;
    }

    .me {
        position: absolute;
        left: 25vw;
        top: 25vh;
        z-index: 10;
        opacity: 0;
    }

    .hammer1 {
        position: absolute;
        left: 40vw;
        top: -8vh;
        opacity: 0;
    }

    .chisel1 {
        position: absolute;
        left: 30vw;
        top: 5vh;
        scale: 0.8;
        opacity: 0;
    }

    .hammer2 {
        position: absolute;
        top: 20vh;
        transform: scale(-1);
        left: -20vw;
        opacity: 0;
    }

    .chisel2 {
        transform: scale(-1);
        position: absolute;
        top: 25vh;
        left: 45vw;
        opacity: 0;
    }

    .bigstar1,
    .bigstar2 {
        scale: 0.5;
        position: absolute;
        opacity: 0;
    }

    .bigstar1 {
        top: -6vh;
        rotate: -15deg;
        left: 20vw;
    }

    .bigstar2 {
        top: 33vh;
        left: 12vw;
    }

    .bam1 {
        top: 3.5vh;
        left: 48vw;
    }

    .bam2 {
        top: 42vh;
        left: 40vw;
    }
</style>
<script>
    import { setupScrollAnimations } from "../../scripts/artworks/ballerinaman.js";

    const start = document.querySelector(".start");
    const story = document.querySelector(".story");

    if (start && story) {
        let hasShaken = false;
        const threshold = 15;

        const handleMotionEvent = (event: DeviceMotionEvent) => {
            if (hasShaken) return;

            const x = event.accelerationIncludingGravity?.x || 0;
            const y = event.accelerationIncludingGravity?.y || 0;
            const z = event.accelerationIncludingGravity?.z || 0;

            const totalAcceleration = Math.sqrt(x * x + y * y + z * z);

            if (totalAcceleration > threshold) {
                story.classList.remove("hidden");
                start.classList.add("hidden");
                hasShaken = true;
                requestAnimationFrame(() => {
                    setupScrollAnimations();
                });
            }
        };

        start.addEventListener("click", () => {
            if (hasShaken) return;
            story.classList.remove("hidden");
            start.classList.add("hidden");
            hasShaken = true;
            requestAnimationFrame(() => {
                setupScrollAnimations();
            });
        });
        console.log("shake");
        window.addEventListener("devicemotion", (event: DeviceMotionEvent) => {
            handleMotionEvent(event);
        });
    }
</script>
