---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import ileadtheway from "../../assets/artworks/ileadtheway.png";
import brush from "../../assets/animations/brush.svg";
import yellowstar from "../../assets/animations/yellowstarSmall.svg";
import star from "../../assets/animations/star.svg";
import bottle from "../../assets/animations/bottle.svg";
import free from "../../assets/animations/free.svg";
import bigstar1 from "../../assets/animations/yellowstar.svg";
import bigstar2 from "../../assets/animations/bigStar.svg";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Ik leid de weg?
            </h2>
            <Image class="ileadtheway" src={ileadtheway} alt="ileadtheway" />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story hidden">
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">
                    Kiwanis Kortrijk is known for
                </h2>
                <h2 class="story__subtitle1 bottom1">
                    its cute <span class="bold blue">Kiwani dolls</span>.
                </h2>
                <h2 class="story__subtitle2 top2">
                    <span class="bold blue">Celebrate</span> life loudly
                </h2>
                <h2 class="story__subtitle3 top3">
                    <span class="bold blue">Break out</span> of the boxes
                </h2>
                <h2 class="story__subtitle3 bottom3">we create for ourself</h2>
                <h2 class="story__subtitle4 top4">
                    Where to see <span class="bold blue">Ik leid de weg?</span>
                </h2>
            </div>
            <div class="image-wrapper">
                <Image class="image" src={ileadtheway} alt="ileadtheway" />
            </div>
            <div class="story__animations">
                <div class="story__animation1">
                    <Image class="brush" src={brush} alt="brush" />
                    <Image
                        class="yellowstar"
                        src={yellowstar}
                        alt="yellowstar"
                    />
                    <Image class="star" src={star} alt="star" />
                    <div class="anniversary">
                        <p class="anniversary1">50th</p>
                        <p class="anniversary2">anniversary</p>
                    </div>
                </div>
                <div class="story__animation2">
                    <Image class="bottle" src={bottle} alt="bottle" />
                    <Image class="star2" src={star} alt="star" />
                    <p class="pop1">pop</p>
                    <p class="pop2">pop</p>
                    <p class="pop3">pop</p>
                    <p class="pop4">pop</p>
                </div>
                <div class="story__animation3">
                    <Image class="free" src={free} alt="free" />
                    <Image class="bigstar1" src={bigstar1} alt="bigstar1" />
                    <Image class="bigstar2" src={bigstar2} alt="bigstar2" />
                    <p class="break">break free</p>
                    <p class="fear">let go of fear</p>
                </div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    They donate them to <span class="bold"
                        >kids in Pediatrics</span
                    > to help them feel safe. For their <span class="bold"
                        >50th anniversary</span
                    >, they did something special. They asked local artists to
                    <span class="bold">paint</span> a giant, life-sized version of
                    the doll in their own style. The dolls were later sold to <span
                        class="bold">raise money</span
                    > for children's projects.
                </p>
                <p class="story__text2">
                    This one was created by <span class="bold"
                        >Analucia Moreno Concha, a Mexican artist</span
                    > who grew up in Kortrijk. Her style is full of colour and energy,
                    inspired by <span class="bold">Otomi embroidery</span> from her
                    culture. The colours in this piece are all about <span
                        class="bold">celebration</span
                    >, joy, and living life loudly.
                </p>
                <p class="story__text3">
                    <span>Rollegem</span> is adding more art to public spaces, which
                    is why this doll now stands in the district’s center. For the
                    artist, <span class="bold">freedom</span> comes from <span
                        class="bold">letting go of fear</span
                    >, facing criticism, and trusting ourselves. Analucia
                    designed the piece to show how we can <span class="bold"
                        >break out</span
                    > of the boxes we create and follow our own path.
                </p>
            </div>
        </div>
    </div>
</Layout>
<style>
    .start__subtitle::after {
        content: "Ik leid de weg";
        background-color: var(--secondary-color);
        display: flex;
        justify-self: end;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        color: var(--black);
        border-radius: 3rem;
        margin-right: 4rem;
        margin-top: -2rem;
        rotate: -3deg;
        font-size: 1.25rem;
    }

    .brush {
        position: absolute;
        top: 30vh;
        right: -30vw;
        z-index: 10;
        opacity: 0;
    }

    .yellowstar {
        position: absolute;
        top: 20vh;
        left: 20vw;
        opacity: 0;
    }

    .star {
        scale: 0.5;
        position: absolute;
        top: -20vh;
        right: -25vw;
        opacity: 0;
    }

    .anniversary {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: end;
        margin-right: 1.5rem;
        gap: 0.3rem;
        text-align: center;
        font-family: "obviously-narrow", "sans-serif";
        top: -2vh;
        opacity: 0;
    }


    .pop1,
    .pop2,
    .pop3,
    .pop4,
    .break,
    .fear {
        text-transform: uppercase;
        font-size: 1.5rem;
        width: fit-content;
        background-color: var(--black);
        color: var(--white);
        font-weight: 500;
        padding: 0.6rem;
        padding-bottom: 0.7rem;
        text-align: center;
        opacity: 0;
    }

    .anniversary > p {
        text-transform: uppercase;
        font-size: 1.5rem;
        width: fit-content;
        background-color: var(--black);
        color: var(--white);
        font-weight: 500;
        padding: 0.6rem;
        padding-bottom: 0.7rem;
        text-align: center;
    }

    .bottle {
        position: absolute;
        top: 40vh;
        left: 50vw;
        z-index: 10;
        opacity: 0;
    }

    .star2 {
        position: absolute;
        top: 5vh;
        left: 5vw;
        scale: 0.2;
        opacity: 0;
    }

    .pop1 {
        position: absolute;
        top: 0vh;
        left: 50vw;
        rotate: 5deg;
    }

    .pop2 {
        position: absolute;
        top: 5vh;
        left: 20vw;
        rotate: -10deg;
    }

    .pop3 {
        position: absolute;
        top: 15vh;
        left: 10vw;
        rotate: 5deg;
    }

    .pop4 {
        position: absolute;
        top: 10vh;
        left: 70vw;
        rotate: -5deg;
    }

    .free {
        position: absolute;
        top: -2vh;
        left: 31vw;
        opacity: 0;
    }

    .break {
        position: absolute;
        top: 20vh;
        left: 10vw;
        font-size: 1.5rem;
        rotate: -10deg;
        z-index: 10;
    }

    .fear {
        position: absolute;
        top: 30vh;
        left: 30vw;
        font-size: 2rem;
        width: max-content;
        rotate: 10deg;
        z-index: 10;
    }

    .bigstar1 {
        position: absolute;
        top: 15vh;
        rotate: -10deg;
        scale: 0.2;
        opacity: 0;
    }

    .bigstar2 {
        position: absolute;
        top: 20vh;
        left: 25vw;
        opacity: 0;
        scale: 0.2;
    }
</style>
<script>
    import { setupScrollAnimations } from "../../scripts/artworks/ileadtheway.js";

    const start = document.querySelector(".start");
    const story = document.querySelector(".story");

    if (start && story) {
        let hasShaken = false;
        const threshold = 15;

        const handleMotionEvent = (event: DeviceMotionEvent) => {
            if (hasShaken) return;

            const x = event.accelerationIncludingGravity?.x || 0;
            const y = event.accelerationIncludingGravity?.y || 0;
            const z = event.accelerationIncludingGravity?.z || 0;

            const totalAcceleration = Math.sqrt(x * x + y * y + z * z);

            if (totalAcceleration > threshold) {
                story.classList.remove("hidden");
                start.classList.add("hidden");
                hasShaken = true;
                requestAnimationFrame(() => {
                    setupScrollAnimations();
                });
            }
        };

        start.addEventListener("click", () => {
            if (hasShaken) return;
            story.classList.remove("hidden");
            start.classList.add("hidden");
            hasShaken = true;
            requestAnimationFrame(() => {
                setupScrollAnimations();
            });
        });
        console.log("shake");
        window.addEventListener("devicemotion", (event: DeviceMotionEvent) => {
            handleMotionEvent(event);
        });
    }
</script>
