---
import Layout from "../../layouts/Layout.astro";
import Mentieb from "../../components/artworks/Mentieb.astro";
import { Image } from "astro:assets";
import mentie from "../../assets/artworks/mentie.png";
import trophy from "../../assets/animations/trophy.svg";
import milan from "../../assets/animations/milaan.svg";
import liège from "../../assets/animations/liège.svg";
import paris from "../../assets/animations/paris.svg";
import disco from "../../assets/animations/disco.svg";
import yellowstar from "../../assets/animations/yellowstar.svg";
import glass from "../../assets/animations/glass.svg";
import star from "../../assets/animations/bling.svg";
import cyclist from "../../assets/animations/cyclist.svg";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Mentie?
            </h2>
            <Mentieb/>
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story hidden">
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">
                    This artwork tells the story
                </h2>
                <h2 class="story__subtitle1 bottom1">
                    of a successful <span class="bold blue">cyclist</span>
                </h2>
                <h2 class="story__subtitle2 top2">Bellegem gets lit for the</h2>
                <h2 class="story__subtitle2 bottom2">
                    <span class="bold blue">‘Village of the Tour’</span> achievement
                </h2>
                <h2 class="story__subtitle3 top3">The cyclist's hometown</h2>
                <h2 class="story__subtitle3 bottom3">
                    is <span class="bold blue">Bellegem</span>
                </h2>
                <h2 class="story__subtitle4 top4">
                    Where to see <span class="bold blue">Mentie</span>?
                </h2>
            </div>
            <div class="image-wrapper">
                <Image class="image" src={mentie} alt="mentie" />
            </div>
            <div class="story__animations">
                <div class="story__animation1">
                    <Image class="trophy" src={trophy} alt="trophy" />
                    <p class="winner">Winner</p>
                    <Image class="milan" src={milan} alt="milan" />
                    <p class="milan__text">Milan</p>
                    <Image class="liège" src={liège} alt="liège" />
                    <p class="liège__text">Liège</p>
                    <Image class="paris" src={paris} alt="paris" />
                    <p class="paris__text">Paris</p>
                </div>
                <div class="story__animation2">
                    <Image class="disco" src={disco} alt="disco" />
                    <p class="party1">party party</p>
                    <p class="party2">party party</p>
                    <p class="party3">party party</p>
                    <Image class="star" src={star} alt="star" />
                    <Image class="glass1" src={glass} alt="glass" />
                    <Image class="glass2" src={glass} alt="glass" />
                    <p class="cheers">cheers</p>
                    <Image
                        class="yellowstar"
                        src={yellowstar}
                        alt="yellowstar"
                    />
                </div>
                <div class="story__animation3">
                    <Image class="cyclist" src={cyclist} alt="cyclist" />
                    <p class="vroom1">VROOOOMMMMMMM</p>
                    <p class="vroom2">VROOOOMMMMMMM</p>
                    <p class="vroom3">VROOOOMMMMMMM</p>
                </div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    Flemish cyclist <span class="bold">Germain Derycke</span> (1929–1979)
                    was a successful racer, racking up <span class="bold"
                        >trophies</span
                    > in races in Milan, Paris, Liège, and more. He even won the Tour
                    of Flanders in 1958.
                </p>
                <p class="story__text2">
                    Fifty years later, in 2008, Bellegem got to call itself the
                    <span class="bold">“Village of the Tour.”</span> This came with
                    <span class="bold">big celebrations</span>. As a <span
                        class="bold">tribute</span
                    > to the cyclist, a sculpture was created themed around the race
                    and Bellegem, the green lung and the highest point of Kortrijk.
                </p>
                <p class="story__text3">
                    The cyclist is shown riding through the <span class="bold"
                        >Bellegem landscape</span
                    >, with the church, the old town hall, his birthplace, and
                    the Muur of Geraardsbergen in the background.
                </p>
            </div>
        </div>
    </div>
</Layout>
<style>
    .start__subtitle::after {
        content: "Mentie";
        background-color: var(--secondary-color);
        display: flex;
        justify-self: end;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        color: var(--black);
        border-radius: 3rem;
        margin-right: 5rem;
        margin-top: -2.5rem;
        rotate: -3deg;
        font-size: 1.25rem;
    }

    .image-wrapper {
        margin-top: 10rem;
    }

    .trophy {
        position: absolute;
        top: -20vh;
        opacity: 0;
    }

    .winner,
    .party1,
    .party2,
    .party3 {
        background-color: var(--secondary-color);
        color: var(--white);
        width: fit-content;
        font-family: "obviously-narrow", "sans-serif";
        text-transform: uppercase;
        font-weight: 500;
        padding: 0.3rem 0.5rem;
        padding-bottom: 0.5rem;
        position: absolute;
        font-size: 2rem;
        rotate: 10deg;
        opacity: 0;
    }

    .winner {
        top: 15vh;
        left: 10vw;
    }

    .milan {
        position: absolute;
        top: 55vh;
        left: 10vw;
        z-index: 10;
        opacity: 0;
    }

    .liège {
        position: absolute;
        top: 50vh;
        left: 40vw;
        z-index: 9;
        opacity: 0;
    }

    .paris {
        position: absolute;
        top: 40vh;
        left: 70vw;
        z-index: 8;
        opacity: 0;
    }

    .milan__text,
    .liège__text,
    .paris__text {
        font-size: 1rem;
        background-color: var(--accent-color);
        font-family: "obviously-narrow", "sans-serif";
        font-weight: 500;
        padding: 0.3rem;
        padding-bottom: 0.5rem;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        opacity: 0;
    }

    .milan__text::after,
    .liège__text::after,
    .paris__text::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -0.6rem;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 0.8rem solid transparent;
        border-right: 0.8rem solid transparent;
        border-top: 0.8rem solid var(--accent-color);
    }

    .milan__text {
        top: 50vh;
        left: 20vw;
    }

    .liège__text {
        top: 45vh;
        left: 50vw;
    }

    .paris__text {
        top: 35vh;
        left: 50vw;
    }

    .disco {
        position: absolute;
        left: -3vw;
        opacity: 0;
    }

    .party1 {
        top: 20vh;
        rotate: 0deg;
        z-index: 10;
        left: 2vw;
        font-size: 1.5rem;
    }

    .party2 {
        top: 23vh;
        rotate: 0deg;
        z-index: 9;
        left: 7vw;
        font-size: 1.5rem;
    }

    .party3 {
        top: 26vh;
        rotate: 0deg;
        z-index: 8;
        left: 12vw;
        font-size: 1.5rem;
    }

    .glass1 {
        position: absolute;
        top: 40vh;
        left: 50vw;
        opacity: 0;
    }

    .glass2 {
        position: absolute;
        top: 40vh;
        left: 75vw;
        transform: scaleX(-1);
        opacity: 0;
    }

    .star {
        position: absolute;
        top: 38vh;
        left: 70vw;
        opacity: 0;
        z-index: 10;
    }

    .cheers,
    .vroom1,
    .vroom2,
    .vroom3 {
        background-color: var(--black);
        width: fit-content;
        color: var(--white);
        font-size: 2rem;
        text-transform: uppercase;
        padding: 0.6rem;
        padding-bottom: 0.7rem;
        position: absolute;
        font-weight: 500;
        font-family: "obviously-narrow", "sans-serif";
        top: 30vh;
        left: 60vw;
        z-index: 10;
        opacity: 0;
    }

    .yellowstar {
        position: absolute;
        top: 25vh;
        left: 45vw;
        opacity: 0;
    }

    .cyclist {
        position: absolute;
        top: 20vh;
        left: 20vw;
        opacity: 0;
    }

    .vroom1 {
        left: 55vw;
        top: 55vh;
        font-size: 1.5rem;
    }

    .vroom2 {
        left: 50vw;
        top: 50vh;
        font-size: 1.5rem;
    }
    .vroom3 {
        left: 45vw;
        top: 45vh;
        font-size: 1.5rem;
    }

   
</style>
<script>
    import { setupScrollAnimations } from "../../scripts/artworks/mentie.js";

    const start = document.querySelector(".start");
    const story = document.querySelector(".story");

    if (start && story) {
        let hasShaken = false;
        const threshold = 15;

        const handleMotionEvent = (event: DeviceMotionEvent) => {
            if (hasShaken) return;

            const x = event.accelerationIncludingGravity?.x || 0;
            const y = event.accelerationIncludingGravity?.y || 0;
            const z = event.accelerationIncludingGravity?.z || 0;

            const totalAcceleration = Math.sqrt(x * x + y * y + z * z);

            if (totalAcceleration > threshold) {
                story.classList.remove("hidden");
                start.classList.add("hidden");
                hasShaken = true;
                requestAnimationFrame(() => {
                    setupScrollAnimations();
                });
            }
        };

        start.addEventListener("click", () => {
            if (hasShaken) return;
            story.classList.remove("hidden");
            start.classList.add("hidden");
            hasShaken = true;
            requestAnimationFrame(() => {
                setupScrollAnimations();
            });
        });
        console.log("shake");
        window.addEventListener("devicemotion", (event: DeviceMotionEvent) => {
            handleMotionEvent(event);
        });
    }
</script>
