---
import Subtitle from "../../components/Subtitle.astro";
import SpeechBubble from "../../components/Speechbubble.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import tile from "../../assets/tiletableau.png";
import speak from "../../../public/assets/img/speak.svg";
import ear from "../../../public/assets/img/ear.svg";
import stomp from "../../../public/assets/icons/stomp.svg";
import foot from "../../../public/assets/icons/foot.svg";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Tegeltableaus?
            </h2>
            <Image class="tile" src={tile} alt="tegeltableaus" />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story hidden">
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">These artworks tell</h2>
                <h2 class="story__subtitle1 bottom1">
                    the stories of <span class="blue bold">Aalbeke</span>
                </h2>
                <h2 class="story__subtitle2 top2">
                    12 ceramic tiles are placed
                </h2>
                <h2 class="story__subtitle2 bottom2">
                    along the <span class="blue bold">sidewalks</span>
                </h2>
                <h2 class="story__subtitle3 top3 blue bold">Hugo Claus,</h2>
                <h2 class="story__subtitle3 bottom3">the famous writer</h2>
            </div>
            <div class="image-wrapper">
                <Image class="image" src={tile} alt="tegeltableaus" />
            </div>
            <div class="story__animations">
                <div class="story__animation1">
                    <Image class="mouth" src={speak} alt="mouth" />
                    <p class="bla1">bla</p>
                    <p class="bla2">bla bla</p>
                    <p class="bla3">bla bla bla</p>
                    <p class="aha1">aha aha aha</p>
                    <p class="aha2">aha aha</p>
                    <p class="aha3">aha</p>
                    <Image class="ear" src={ear} alt="mouth" />
                </div>
                <div class="story__animation2">
                    <Image class="stomp" src={stomp} alt="stomp foot" />
                    <Image class="foot1" src={foot} alt="foot" />
                    <Image class="foot2" src={foot} alt="foot" />
                    <Image class="foot3" src={foot} alt="foot" />
                    <Image class="foot4" src={foot} alt="foot" />
                    <Image class="foot5" src={foot} alt="foot" />
                </div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    Created by <span class="bold">Peter de Graaff</span>, he
                    listened to stories from locals dug through the village’s
                    history. They reflect what it was like to live and work in
                    the village, both in the past and today. The stories are
                    about the church fire, working in agriculture or the textile
                    factory, Saint Cornelius and more.
                </p>
                <p class="story__text2">
                    He took all those stories and turned them into art. In
                    total, there are <span class="bold">12 ceramic tiles</span> with
                    drawings spread throughout the village. You’ll find them placed
                    in the ground along the <span class="bold">sidewalks</span>,
                    each one marking a small resting point in the landscape.
                </p>
                <p class="story__text3">
                    One of the scenes shows a young boy writing, and fun fact:
                    that boy turned out to be <span>Hugo Claus</span>, the
                    famous writer. He spent some time living in a <span
                        class="bold">boarding school</span
                    > in Aalbeke.
                </p>
            </div>
        </div>
    </div>

    <style>
        .detail {
            position: relative;
            height: fit-content;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
        }

        .start {
            background-color: var(--black);
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            position: relative;
            height: 90vh;
        }
        .start__subtitle {
            color: var(--white);
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
            line-height: 170%;
            padding: 3rem 0rem;
        }

        .start__subtitle::after {
            content: "Tegeltableaus";
            background-color: var(--secondary-color);
            display: flex;
            justify-self: end;
            width: fit-content;
            padding: 0.2rem 0.8rem;
            color: var(--black);
            border-radius: 3rem;
            margin-right: 4rem;
            margin-top: -2rem;
            rotate: -3deg;
            font-size: 1.25rem;
        }

        .tile {
            border: 0.5rem solid var(--white);
            display: flex;
            justify-self: center;
        }

        .start__text {
            font-size: 1.25rem;
            font-weight: 500;
            color: var(--white);
            padding: 4rem;
        }

        .corner-square {
            width: 5rem;
            height: 5rem;
            background: linear-gradient(
                to top left,
                var(--primary-color) 50%,
                var(--secondary-color) 50%
            );
            bottom: 0;
            right: 0;
            position: absolute;
        }

        .corner-square::before {
            content: "";
            width: 4.5rem;
            height: 4.5rem;
            background: url("../../assets/icon/wiggle.svg") no-repeat
                center/contain;
            display: flex;
            margin-top: -2rem;
            margin-left: -2rem;
        }

        .story {
            position: relative;
            margin-top: 3rem;
            grid-column: 1;
            grid-row: 1;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: min-content 30% 2fr;
        }

        .story__bg {
            grid-column: 1;
            grid-row: 1 / span 3;
            display: flex;
            justify-self: center;
            align-self: center;
            inset: 0;
            background: url("../../assets/blabla.svg") no-repeat center/contain;
            z-index: 0;
            opacity: 1;
            pointer-events: none;
        }

        .story__subtitles {
            grid-column: 1;
            grid-row: 1;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            height: 8rem;
            padding-top: 2rem;
        }

        .story__subtitle1,
        .story__subtitle2,
        .story__subtitle3 {
            background-color: var(--white);
            font-weight: 500;
            padding: 0.8rem;
            text-align: center;
            font-size: 1.25rem;
            height: fit-content;
        }
        .top1,
        .top2,
        .top3 {
            rotate: 2deg;
            transform: translateX(-100%);
            grid-column: 1;
            grid-row: 1;
        }

        .bottom1,
        .bottom2,
        .bottom3 {
            transform: translateX(100%);
            grid-column: 1;
            grid-row: 2;
            rotate: -2deg;
        }

        .story__texts,
        .story__animations {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
        }

        .story__animation1,
        .story__animation2,
        .story__animation3 {
            position: absolute;
            top: 0;
            left: 0;
        }

        .image-wrapper {
            grid-column: 1;
            grid-row: 2;
            display: flex;
            justify-self: center;
            align-self: center;
        }

        .story__animations {
            grid-column: 1;
            grid-row: 2 / span 2;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }

        .story__texts {
            grid-column: 1;
            grid-row: 3;
            transform: translateY(25%);
            z-index: 4;
        }

        .story__text1,
        .story__text2,
        .story__text3 {
            border: 0.1rem solid var(--black);
            background-color: var(--white);
            padding: 1rem;
            border-radius: 0rem 2.5rem 2.5rem 2.5rem;
            max-width: 23rem;
            margin: 2rem 0.8rem;
            line-height: 150%;
            overflow: hidden;
            opacity: 0;
            position: relative;
            z-index: 3;
            grid-column: 1;
            grid-row: 1;
            height: fit-content;
        }

        .image {
            display: flex;
            justify-self: center;
            z-index: 0;
        }

        .image-wrapper {
            position: relative;
            z-index: 0;
            margin-top: 3rem;
        }

        .mouth {
            z-index: 1;
            position: absolute;
            top: -20vw;
            left: -10vw;
        }

        .ear {
            z-index: 1;
            position: absolute;
            left: 40vw;
            top: 30vw;
        }

        .bla1,
        .bla2,
        .bla3 {
            background-color: var(--secondary-color);
            min-width: max-content;
            white-space: nowrap;
            padding: 0.5rem;
            padding-bottom: 0.7rem;
            font-family: "obviously-narrow", sans-serif;
            color: var(--white);
            font-weight: 500;
            text-transform: uppercase;
            z-index: 2;
            position: absolute;
            left: -50vw;
        }

        .aha1,
        .aha2,
        .aha3 {
            background-color: var(--black);
            min-width: max-content;
            white-space: nowrap;
            height: fit-content;
            padding: 0.5rem;
            padding-bottom: 0.7rem;
            font-family: "obviously-narrow", sans-serif;
            color: var(--white);
            font-weight: 500;
            text-transform: uppercase;
            z-index: 3;
            position: absolute;
            transform: translateX(110vw);
        }

        .bla1,
        .aha3 {
            font-size: 1rem;
        }

        .bla2,
        .aha2 {
            font-size: 1.5rem;
        }

        .bla3,
        .aha1 {
            font-size: 2rem;
        }

        .bla1 {
            top: 20vw;
        }

        .bla2 {
            top: 27vw;
        }

        .bla3 {
            top: 35vw;
        }

        .aha1 {
            top: 50vw;
        }

        .aha2 {
            top: 60vw;
        }

        .aha3 {
            top: 68vw;
        }

        .stomp,
        .foot1,
        .foot2,
        .foot3,
        .foot4,
        .foot5 {
            opacity: 0;
            position: absolute;
            z-index: 5;
        }

        .stomp {
            scale: 0.3;
            z-index: 0;
            top: 50vw;
            left: 30vw;
        }

        .foot1 {
            rotate: -10deg;
            top: 65vw;
            left: 50vw;
        }

        .foot2 {
            rotate: 10deg;
            top: 45vw;
            left: 20vw;
        }

        .foot3 {
            rotate: 10deg;
            top: 25vw;
            left: 50vw;
        }

        .foot4 {
            top: 5vw;
            left: 20vw;
        }

        .foot5 {
            rotate: -10deg;
            top: -15vw;
            left: 50vw;
        }

        .start {
            z-index: 2;
        }
    </style>
</Layout>
