---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import tile from "../../assets/artworks/tiletableau.png";
import speak from "../../assets/animations/speak.svg";
import ear from "../../assets/animations/ear.svg";
import stomp from "../../assets/animations/stomp.svg";
import foot from "../../assets/animations/foot.svg";
import writing from "../../assets/animations/writing.svg";
import Map from "../../components/Map.astro";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Tegeltableaus?
            </h2>
            <Image class="tile" src={tile} alt="tegeltableaus" />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story hidden">
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">These artworks tell</h2>
                <h2 class="story__subtitle1 bottom1">
                    the stories of <span class="blue bold">Aalbeke</span>
                </h2>
                <h2 class="story__subtitle2 top2">
                    12 ceramic tiles are placed
                </h2>
                <h2 class="story__subtitle2 bottom2">
                    along the <span class="blue bold">sidewalks</span>
                </h2>
                <h2 class="story__subtitle3 top3 blue bold">Hugo Claus,</h2>
                <h2 class="story__subtitle3 bottom3">the famous writer</h2>
                <h2 class="story__subtitle4 top4">
                    Where to see <span class="bold blue">Tegel Tableaus</span>?
                </h2>
            </div>
            <div class="image-wrapper">
                <Image class="image" src={tile} alt="tegeltableaus" />
            </div>
            <div class="story__animations">
                <div class="story__animation1">
                    <Image class="mouth" src={speak} alt="mouth" />
                    <p class="bla1">bla</p>
                    <p class="bla2">bla bla</p>
                    <p class="bla3">bla bla bla</p>
                    <p class="aha1">aha aha aha</p>
                    <p class="aha2">aha aha</p>
                    <p class="aha3">aha</p>
                    <Image class="ear" src={ear} alt="mouth" />
                </div>
                <div class="story__animation2">
                    <Image class="stomp stomp1" src={stomp} alt="stomp foot" />
                    <Image class="foot1" src={foot} alt="foot" />
                    <Image class="stomp stomp2" src={stomp} alt="stomp foot" />
                    <Image class="foot2" src={foot} alt="foot" />
                    <Image class="stomp stomp3" src={stomp} alt="stomp foot" />
                    <Image class="foot3" src={foot} alt="foot" />
                    <Image class="stomp stomp4" src={stomp} alt="stomp foot" />
                    <Image class="foot4" src={foot} alt="foot" />
                    <Image class="stomp stomp5" src={stomp} alt="stomp foot" />
                    <Image class="foot5" src={foot} alt="foot" />
                </div>
                <div class="story__animation3">
                    <p class="HC">Hugo Claus</p>
                    <p class="titleHC1">Het verdriet van België</p>
                    <p class="titleHC2">Het jaar van de kreeft</p>
                    <p class="titleHC2">Omtrent Deedee</p>
                    <p class="titleHC3">De verwondering</p>
                    <p class="titleHC4">De metsiers</p>
                    <Image class="writing" src={writing} alt="writing hand" />
                </div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    Created by <span class="bold">Peter de Graaff</span>, he
                    listened to stories from locals dug through the village’s
                    history. They reflect what it was like to live and work in
                    the village, both in the past and today. The stories are
                    about the church fire, working in agriculture or the textile
                    factory, Saint Cornelius and more.
                </p>
                <p class="story__text2">
                    He took all those stories and turned them into art. In
                    total, there are <span class="bold">12 ceramic tiles</span> with
                    drawings spread throughout the village. You’ll find them placed
                    in the ground along the <span class="bold">sidewalks</span>,
                    each one marking a small resting point in the landscape.
                </p>
                <p class="story__text3">
                    One of the scenes shows a young boy writing, and fun fact:
                    that boy turned out to be <span>Hugo Claus</span>, the
                    famous writer. He spent some time living in a <span
                        class="bold">boarding school</span
                    > in Aalbeke.
                </p>
            </div>
            <div class="map">
                <Map />
            </div>
        </div>
    </div>
</Layout>
<style>
    .start__subtitle::after {
        content: "Tegeltableaus";
        background-color: var(--secondary-color);
        display: flex;
        justify-self: end;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        color: var(--black);
        border-radius: 3rem;
        margin-right: 4rem;
        margin-top: -2rem;
        rotate: -3deg;
        font-size: 1.25rem;
    }

    .story__bg {
        grid-column: 1;
        grid-row: 1 / span 3;
        display: flex;
        justify-self: center;
        align-self: center;
        inset: 0;
        background: url("../../assets/animations/blabla.svg") no-repeat
            center/contain;
        z-index: 0;
        opacity: 1;
        pointer-events: none;
    }

    .mouth {
        z-index: 1;
        position: absolute;
        top: -20vw;
        left: -10vw;
    }

    .ear {
        z-index: 1;
        position: absolute;
        left: 40vw;
        top: 30vw;
    }

    .bla1,
    .bla2,
    .bla3 {
        background-color: var(--secondary-color);
        min-width: max-content;
        white-space: nowrap;
        padding: 0.5rem;
        padding-bottom: 0.7rem;
        font-family: "obviously-narrow", sans-serif;
        color: var(--white);
        font-weight: 500;
        text-transform: uppercase;
        z-index: 2;
        position: absolute;
        left: -50vw;
    }

    .aha1,
    .aha2,
    .aha3 {
        background-color: var(--black);
        min-width: max-content;
        white-space: nowrap;
        height: fit-content;
        padding: 0.5rem;
        padding-bottom: 0.7rem;
        font-family: "obviously-narrow", sans-serif;
        color: var(--white);
        font-weight: 500;
        text-transform: uppercase;
        z-index: 3;
        position: absolute;
        transform: translateX(110vw);
    }

    .bla1,
    .aha3 {
        font-size: 1rem;
    }

    .bla2,
    .aha2 {
        font-size: 1.5rem;
    }

    .bla3,
    .aha1 {
        font-size: 2rem;
    }

    .bla1 {
        top: 20vw;
    }

    .bla2 {
        top: 27vw;
    }

    .bla3 {
        top: 35vw;
    }

    .aha1 {
        top: 50vw;
    }

    .aha2 {
        top: 60vw;
    }

    .aha3 {
        top: 68vw;
    }

    .stomp1,
    .stomp2,
    .stomp3,
    .stomp4,
    .stomp5,
    .foot1,
    .foot2,
    .foot3,
    .foot4,
    .foot5 {
        position: absolute;
        z-index: 5;
    }

    .stomp1 {
        scale: 0;
        z-index: 0;
        top: 25vh;
        left: 30vw;
    }

    .stomp2 {
        scale: 0;
        top: 15vh;
        left: 1vw;
    }

    .stomp3 {
        scale: 0;
        top: 8vh;
        left: 30vw;
    }

    .stomp4 {
        scale: 0;
        top: -5vh;
        left: 1vw;
    }

    .stomp5 {
        scale: 0;
        top: -12vh;
        left: 30vw;
    }

    .foot1 {
        rotate: -10deg;
        top: 65vw;
        left: 50vw;
        opacity: 0;
    }

    .foot2 {
        rotate: 10deg;
        top: 45vw;
        left: 20vw;
        opacity: 0;
    }

    .foot3 {
        rotate: 10deg;
        top: 25vw;
        left: 50vw;
        opacity: 0;
    }

    .foot4 {
        top: 5vw;
        left: 20vw;
        opacity: 0;
    }

    .foot5 {
        rotate: -10deg;
        top: -15vw;
        left: 50vw;
        opacity: 0;
    }

    .HC {
        font-size: 1.25rem;
        background-color: var(--accent-color);
        font-family: "obviously-narrow", "sans-serif";
        font-weight: 600;
        padding: 0.3rem;
        padding-bottom: 0.5rem;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        left: 60vw;
        opacity: 0;
    }

    .HC::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -0.8rem;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 1rem solid var(--accent-color);
    }

    .titleHC1,
    .titleHC2,
    .titleHC3,
    .titleHC4 {
        font-family: "obviously-narrow", "sans-serif";
        font-weight: 500;
        background-color: var(--black);
        padding: 0.5rem;
        padding-bottom: 0.7rem;
        color: var(--white);
        width: fit-content;
        opacity: 0;
    }

    .titleHC1 {
        font-size: 2rem;
    }

    .titleHC2 {
        font-size: 1.8rem;
    }

    .titleHC3 {
        font-size: 1.6rem;
    }

    .titleHC4 {
        font-size: 1.4rem;
    }

    .writing {
        position: absolute;
        left: -15%;
        opacity: 0;
    }

    .map {
        margin-top: 10rem;
    }
</style>

<script>
    import { setupScrollAnimations } from "../../scripts/artworks/tiletableaus.js";

    const start = document.querySelector(".start");
    const story = document.querySelector(".story");

    if (start && story) {
        let hasShaken = false;
        const threshold = 15;

        const handleMotionEvent = (event: DeviceMotionEvent) => {
            if (hasShaken) return;

            const x = event.accelerationIncludingGravity?.x || 0;
            const y = event.accelerationIncludingGravity?.y || 0;
            const z = event.accelerationIncludingGravity?.z || 0;

            const totalAcceleration = Math.sqrt(x * x + y * y + z * z);

            if (totalAcceleration > threshold) {
                story.classList.remove("hidden");
                start.classList.add("hidden");
                hasShaken = true;
                requestAnimationFrame(() => {
                    setupScrollAnimations();
                });
            }
        };

        start.addEventListener("click", () => {
            if (hasShaken) return;
            story.classList.remove("hidden");
            start.classList.add("hidden");
            hasShaken = true;
            requestAnimationFrame(() => {
                setupScrollAnimations();
            });
        });
        console.log("shake");
        window.addEventListener("devicemotion", (event: DeviceMotionEvent) => {
            handleMotionEvent(event);
        });
    }
</script>
