---
import "../styles/reset.css";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
import { Image } from "astro:assets";
import mouth from "../../public/assets/img/openmouth.svg";
import mouth2 from "../../public/assets/img/openmouth.png";
import shakeboard from "../../public/assets/img/shakeboard.svg";
import eye from "../../public/assets/img/eye.svg";
import heroimg from "../../public/assets/img/heroimg.svg";
import ballerina from "../../public/assets/img/miniballerina.png";
import star from "../../public/assets/icons/star.svg";
import gsm from "../../public/assets/icons/gsm.svg";
import binoculars from "../../public/assets/icons/binoculars.svg";
---

<Layout>
	<div class="home">
		<div class="heroimg">
			<h1 class="heroimg__title">
				Behind the <span class="orangebg">label</span>
			</h1>
			<p class="heroimg__text">
				<span class="yellow">Click</span> the labels away
			</p>
			<!-- <Image class="heroimg__img" src={heroimg} alt="heroimage" /> -->
			<div class="heroimg__quote">
				<div>
					<p>Public Art</p>
					<Image class="img" src={ballerina} alt="ballerina" />
				</div>
				<div>
					<p>is</p>
					<Image class="img" src={star} alt="star icon" />
					<p>for Gen Z,</p>
				</div>
				<p>they're too</p>
				<div>
					<Image class="img gsm" src={gsm} alt="gsm" />
					<p>
						<span class="bold">real</span>, too <span class="bold"
							>connected</span
						>
					</p>
				</div>
				<div>
					<p>and</p>
					<Image class="img" src={binoculars} alt="binoculars" />
				</div>
				<div class="lastdiv">
					<p>too <span class="bold">curious.</span></p>
				</div>
			</div>
			<div class="button-wrapper">
				<a class="button" href="/behindthelabel/artworks/tiletableaus"
					>Discover the artworks</a
				>
			</div>
			<p class="cta">Learn more</p>
		</div>
		<div class="info">
			<div class="spit">
				<div class="spit__subtitle">
					<p class="subtitle__item">spit</p>
					<p class="subtitle__item">spit t</p>
					<p class="subtitle__item">spit th</p>
					<p class="subtitle__item">spit the</p>
					<p class="subtitle__item">spit the t</p>
					<p class="subtitle__item">spit the tr</p>
					<p class="subtitle__item">spit the tru</p>
					<p class="subtitle__item">spit the trut</p>
					<p class="subtitle__item">spit the truth</p>
				</div>
				<div class="mouths">
					<div class="mouths2">
						<Image class="mouth2" src={mouth2} alt="scream image" />
						<Image class="mouth2" src={mouth2} alt="scream image" />
						<Image class="mouth2" src={mouth2} alt="scream image" />
						<Image class="mouth2" src={mouth2} alt="scream image" />
					</div>
					<Image class="mouth1" src={mouth} alt="scream image" />
				</div>
				<p class="spit__text" id="about">
					You are too lazy, you don’t want to work and you are too
					sensitive, these are all <span class="keyword"
						>prejudices</span
					> that gen z face because of older generations. We are not defined
					by our <span class="keyword">first impressions</span>, our
					labels or stereotypes, there is always more than meets the
					eye.
				</p>
				<p class="spit__text">
					The <span class="keyword">public artworks</span> in <span
						class="keyword">Kortrijk</span
					> are experiencing the same thing. People take a glance at them
					all the time to make their opinions without knowing the whole
					<span class="keyword">story behind them</span>. We are here
					to <span class="keyword">spit the truth</span> about what’s really
					behind their ‘labels’.
				</p>
				<div class="button-wrapper">
					<a
						href="https://www.kortrijk.be/musea/kunst-in-de-publieke-ruimte"
						class="button">Learn more about us</a
					>
				</div>
			</div>
			<div class="shake">
				<div class="shake__imgs">
					<Image
						class="shakeboard1"
						src={shakeboard}
						alt="shake board"
					/>
					<div class="shakeboard6 bold">
						<p>Shake</p>
						<p>labels</p>
					</div>
					<div class="shakeboard5 bold">
						<p>Shake</p>
						<p>labels</p>
					</div>
					<div class="shakeboard4 bold">
						<p>Shake</p>
						<p>labels</p>
					</div>
					<div class="shakeboard3 bold">
						<p>Shake</p>
						<p>labels</p>
					</div>
					<div class="shakeboard2 bold">
						<p>Shake</p>
						<p>labels</p>
					</div>
				</div>
				<p class="shake__text">
					With ‘Behind the label’, <span class="keyword"
						>Art in Public Spaces Kortrijk</span
					> wants to invite you to look past your first impressions and
					prejudices to see the <span class="keyword">real story</span
					> behind the artworks.
				</p>
				<div class="button-wrapper">
					<a href="../pages/artworks/overview" class="button"
						>Shake off those labels</a
					>
				</div>
			</div>
			<div class="where">
				<div class="eyes">
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
					<Image class="eye" src={eye} alt="eye" />
				</div>
				<h2 class="where__subtitle">Where to find them?</h2>
				<p class="where__text">
					<span class="keyword">Kortrijk</span> has a lot of art to see
					in their public spaces. 8 artworks in Kortrijk and surrounding
					<span class="keyword">districts</span> have been labeled with
					prejudices. <span class="keyword">Visit</span> them and rid them
					of their labels. On the map you can find all the locations of
					the public artworks in the area.
				</p>
			</div>
			<div class="map" id="map"></div>
		</div>
	</div>
	<script>
		import "../scripts/index.js";
	</script>
</Layout>

<style>
	.heroimg {
		background-color: var(--black);
		color: var(--white);
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0;
	}
	.heroimg__title {
		font-weight: 600;
		font-size: 2rem;
		padding: 1rem 0;
	}

	.heroimg__text {
		font-size: 1.25rem;
		font-weight: 500;
		padding: 1rem 0;
	}

	.heroimg__img {
		margin: 2rem 0;
	}

	.heroimg__quote {
		font-size: 2.5rem;
		padding: 1rem 3rem;
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
	}

	.heroimg__quote > div {
		display: flex;
		flex-direction: row;
		line-height: 120%;
	}

	.lastdiv {
		margin-top: -0.5rem;
	}

	.img {
		padding: 0rem 0.5rem;
		display: flex;
		align-self: center;
	}

	.gsm {
		animation: wiggle 1.3s ease-in-out infinite;
	}

	@keyframes wiggle {
		0% {
			rotate: 0deg;
		}
		50% {
			rotate: -5deg;
		}
		100% {
			rotate: 0deg;
		}
	}

	.orangebg {
		background-color: var(--secondary-color);
		font-style: italic;
		padding: 0rem 1rem;
	}

	.yellow {
		color: var(--accent-color);
	}

	.cta {
		padding-top: 1rem;
	}

	.cta::after {
		content: "";
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-self: center;
		padding-top: 1.5rem;
		background: url("../assets/icon/triangle.svg") no-repeat center/contain;

		animation: bounceArrow 1.3s ease-in-out infinite;
	}

	@keyframes bounceArrow {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-0.4rem);
		}
		100% {
			transform: translateY(0);
		}
	}

	.home {
		background-color: var(--primary-color);
	}
	.spit__subtitle {
		padding: 1rem;
	}

	.subtitle__item {
		font-size: 3.75rem;
		font-family: "Obviously-narrow";
		font-weight: 300;
		text-transform: uppercase;
		color: var(--white);
		opacity: 0;
		transform: translateY(20px);
	}

	.mouths {
		display: flex;
		flex-direction: row;
		max-width: 100%;
	}

	.mouth1,
	.mouth2 {
		transform: translateX(-50vw);
	}

	.mouth2 {
		margin-right: -9rem;
	}

	.shake__imgs {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		margin: 8rem 0rem;
	}

	.shakeboard1,
	.shakeboard2,
	.shakeboard3,
	.shakeboard4,
	.shakeboard5,
	.shakeboard6 {
		grid-column: 1;
		grid-row: 1;
		text-align: center;
		justify-self: center;
		align-self: center;
		rotate: -10deg;
	}

	.shakeboard1 {
		z-index: 1;
	}

	.shakeboard2,
	.shakeboard3,
	.shakeboard4,
	.shakeboard5,
	.shakeboard6 {
		width: 19rem;
		height: 5rem;
		font-family: "obviously-extended", sans-serif;
		font-size: 2.5rem;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0rem 0rem 0.5rem 0rem;
		z-index: 0;
	}

	.shakeboard2,
	.shakeboard5 {
		background-color: var(--accent-color);
	}

	.shakeboard3,
	.shakeboard6 {
		background-color: var(--secondary-color);
	}

	.shakeboard4 {
		background-color: var(--white);
	}

	.spit__text,
	.shake__text,
	.where__text {
		color: var(--white);
		font-size: 1.25rem;
		line-height: 150%;
		padding: 1.5rem;
	}

	.keyword {
		background-color: var(--secondary-color);
		font-weight: 600;
	}

	.shake {
		margin: 10rem 0;
	}

	.eyes {
		margin-top: 15rem;
	}

	.eye {
		display: flex;
		justify-self: center;
		margin-top: -10rem;
		opacity: 0;
		transition:
			opacity 0.4s ease,
			transform 0.4s ease;
	}

	.where__subtitle {
		font-size: 1.875rem;
		font-weight: 600;
		color: var(--white);
		margin: 1rem;
	}
</style>
