---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import tile from "../assets/tiletableau.png";
import ballerina from "../assets/artworks-mobile/ballerina.png";
import cirkelvierkant from "../assets/artworks-mobile/cirkelvierkant.png";
import happilyeverafter from "../assets/artworks-mobile/happilyeverafter.png";
import ikleiddeweg from "../assets/artworks-mobile/ikleiddeweg.png";
import mentie from "../assets/artworks-mobile/mentie.png";
import skribbels from "../assets/artworks-mobile/skribbels.png";
import tegeltableaus from "../assets/artworks-mobile/tegeltableaus.png";
import untitled from "../assets/artworks-mobile/untitled.png";
import pass from "../../public/assets/icons/pass.svg";
import smash from "../../public/assets/icons/smash.svg";
---

<Layout>
	<div class="overviewPage">
		<section class="swipe">
			<h2 class="swipe__title">
				<span class="orange">Smash</span> or pass
			</h2>
			<h2 class="swipe__subtitle">the artworks</h2>
			<p class="swipe__text">
				<span class="yellow">Swipe</span> left to pass, right to smash
			</p>
			<Image class="tile" src={tile} alt="tegeltableaus" />
			<div class="swipe__buttons">
				<div class="pass">
					<p class="pass__text">Pass</p>
					<button class="pass__button">
						<Image class="pass__svg" src={pass} alt="pass svg" />
					</button>
				</div>
				<div class="smash">
					<p class="smash__text">Smash</p>
					<button class="smash__button">
						<Image class="smash__svg" src={smash} alt="smash svg" />
					</button>
				</div>
			</div>
			<p class="swipe__cta">See all artworks</p>
		</section>
		<section class="overview">
			<h2 class="overview__subtitle">Meet meet meet</h2>
			<h2 class="overview__title">Meet the artworks</h2>
			<p class="overview__text">
				Read the stories of these <span class="highlight"
					>8 artworks</span
				> in and around Kortrijk. Each artwork is from a <span
					class="highlight">different district</span
				> around Kortrijk and one of them being inside Kortrijk. They all
				<span class="highlight">tell stories</span> about the <span
					class="highlight">heritage</span
				> of their location.
			</p>
			<div class="artworks">
				<a class="artwork ballerina">
					<Image
						class="artwork__img"
						src={ballerina}
						alt="ballerina"
					/>
					<div class="artwork__info">
						<h2 class="name">Ballerina en Man</h2>
						<p class="location">Kortrijk</p>
					</div>
				</a>
				<a
					class="artwork happilyeverafter"
					href="/behindthelabel/artworks/happilyeverafter"
				>
					<Image
						class="artwork__img"
						src={happilyeverafter}
						alt="happilyeverafter"
					/>
					<div class="artwork__info">
						<h2 class="name">Happily Ever After</h2>
						<p class="location">Bissegem</p>
					</div>
				</a>
				<a
					class="artwork ikleiddeweg"
					href="/behindthelabel/artworks/ileadtheway"
				>
					<Image
						class="artwork__img"
						src={ikleiddeweg}
						alt="ikleiddeweg"
					/>
					<div class="artwork__info">
						<h2 class="name">Ik leid de weg</h2>
						<p class="location">Rollegem</p>
					</div>
				</a>
				<a
					class="artwork mentie"
					href="/behindthelabel/artworks/mentie"
				>
					<Image class="artwork__img" src={mentie} alt="mentie" />
					<div class="artwork__info">
						<h2 class="name">Mentie</h2>
						<p class="location">Bellegem</p>
					</div>
				</a>
				<a
					class="artwork untitled"
					href="/behindthelabel/artworks/plinth"
				>
					<Image class="artwork__img" src={untitled} alt="untitled" />
					<div class="artwork__info">
						<h2 class="name">Untitled</h2>
						<p class="location">Kooigem</p>
					</div>
				</a>
				<a
					class="artwork skribbels"
					href="/behindthelabel/artworks/skribbel"
				>
					<Image
						class="artwork__img"
						src={skribbels}
						alt="skribbels"
					/>
					<div class="artwork__info">
						<h2 class="name">De Skribbels</h2>
						<p class="location">Heule</p>
					</div>
				</a>
				<a
					class="artwork cirkelvierkant"
					href="/behindthelabel/artworks/squarecircle"
				>
					<Image
						class="artwork__img"
						src={cirkelvierkant}
						alt="cirkelvierkant"
					/>
					<div class="artwork__info">
						<h2 class="name">Cirkel en Vierkant</h2>
						<p class="location">Marke</p>
					</div>
				</a>
				<a
					class="artwork tegeltableaus"
					href="/behindthelabel/artworks/tiletableaus"
				>
					<Image
						class="artwork__img"
						src={tegeltableaus}
						alt="tegeltableaus"
					/>
					<div class="artwork__info">
						<h2 class="name">Tegeltableaus</h2>
						<p class="location">Aalbeke</p>
					</div>
				</a>
				<div class="others">
					<h3 class="others__title">
						Want to learn more about the other artworks?
					</h3>
					<p class="others__text">
						Read the story of the other <span class="highlight"
							>173</span
						> artworks in and around Kortrijk.
					</p>
					<div class="button-wrapper">
						<a class="button" href="">See more</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</Layout>

<style>
	.overviewPage {
		color: var(--white);
		font-weight: 500;
		text-align: center;
	}

	.swipe {
		background-color: var(--black);
	}

	.orange {
		background-color: var(--secondary-color);
		padding: 0rem 0.5rem;
		font-style: italic;
	}

	.swipe__title {
		font-size: 1.25rem;
		padding: 1rem;
	}

	.swipe__subtitle {
		font-weight: 600;
		font-size: 2rem;
		padding: 0.5rem;
	}

	.swipe__text {
		padding: 2rem 0rem 3rem 0rem;
	}

	.yellow {
		color: var(--accent-color);
	}

	.tile {
		border: 0.5rem solid var(--white);
		display: flex;
		justify-self: center;
	}

	.swipe__buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		font-size: 1.25rem;
		font-weight: 500;
		padding: 3rem 0rem;
	}

	.pass__button,
	.smash__button {
		background-color: var(--black);
		border: none;
		margin: 1rem 0rem;
	}

	.pass__svg,
	.smash__svg {
		display: flex;
		justify-self: center;
		align-self: center;
		width: 4rem;
		height: 4rem;
	}

	.swipe__cta::after {
		content: "";
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-self: center;
		padding-top: 1.5rem;
		background: url("../assets/icon/triangle.svg") no-repeat center/contain;

		animation: bounceArrow 1.3s ease-in-out infinite;
	}

	@keyframes bounceArrow {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-0.4rem);
		}
		100% {
			transform: translateY(0);
		}
	}

	.overview__subtitle {
		font-size: 3.25rem;
		font-family: "obviously-narrow", sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		padding: 1rem 0rem;
		margin-top: 1rem;
	}

	.overview__title {
		font-size: 2rem;
		font-weight: 600;
		padding: 0.5rem 0rem;
	}

	.overview__text {
		line-height: 150%;
		padding: 1.5rem 1rem;
		font-weight: 400;
	}

	.highlight {
		background-color: var(--secondary-color);
		font-weight: 600;
		padding: 0rem 0.2rem;
		padding-bottom: 0.2rem;
	}

	.artwork {
		width: 22rem;
		height: fit-content;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		justify-self: center;
		color: var(--white);
		text-decoration: none;
		margin: 1.5rem 0rem;
	}

	.artwork__img {
		z-index: 0;
		grid-column: 1;
		grid-row: 1;
	}

	.artwork__info {
		grid-column: 1;
		grid-row: 1;
		display: flex;
		flex-direction: column;
		z-index: 1;
		justify-content: end;
		align-items: start;
		padding: 1rem;
	}

	.name {
		color: var(--accent-color);
		font-size: 1.5rem;
		font-weight: 600;
		padding-bottom: 0.6rem;
	}

	.location {
		font-weight: 300;
		display: flex;
		align-items: center;
	}

	.location::before {
		content: "";
		width: 1rem;
		height: 1.5rem;
		display: inline-block;
		background: url("../assets/icon/pin.svg") no-repeat center/contain;
		padding-right: 0.6rem;
	}

	.others {
		background-color: var(--black);
		margin: 1rem;
		padding: 1rem;
		text-align: start;
		font-size: 1.25rem;
	}

	.others__title {
		font-weight: 600;
		width: 19rem;
	}

	.others__text {
		font-weight: 400;
		padding: 1rem 0rem;
		line-height: 150%;
	}
</style>
